.List-User-container {
    .User-lists {
        .child {
            /* color: red; */
            border: 1px solid;
            width: 300px;
            height: 40px;
            margin: 0 auto;
            line-height: 40px;
            // float: left;
        }
    }
}